#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    left: 0 !important;
    margin-left: 50%;
    max-width: 50%;
}


.menu__btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}



.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 40px 0;
    list-style: none;
    background-color: #333;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

li {
    text-align: left !important;
    border-bottom: 1px solid #616161;
}

a {
    color: white !important;
}

#hamburger-button {
    border-bottom: 1px solid red;
    display: flex;
    justify-content: space-evenly;
}

.login-buttons {
    text-align: center;
    padding: 15px;
}

#red-button {
    background-color: red;
    color: white;
}

#black-button {
    background-color: black;
    color: white;
}

#social-media-icons {
    display: none;
}

#user-interactions {
    display: flex;
    justify-content: space-around;
    background-color: black;
    min-height: 50px;
    color: white;
}

.mobile-header-display {
    padding-top: 15px;
}

#top-section {
    border: 1px solid black;
    padding: 10;
    text-align: center;
    background-color: #333;
}

#top-text-box {
    min-height: 50vh;
    line-height: 1.6;
    color: white;
}

h1 {
    padding: 15px;

}

#top-text-box p {
    margin: 50px;
}

#main-links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border: 1px solid black;
}

#desperate-signup {
    background-color: #1579bc;
    border-color: #1579bc;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    padding: 14.5px 20px 13.5px;
    margin-bottom: 40px;
    width: 80%;
}

.popular-link {
    border: .5px solid grey;
    margin: 20px;
    padding: 30px;
    text-align: left;
    inline-size: 100px;
}

.popular-link span {
    overflow: wrap;
}

.blue {
    color: blue;
}

.purple {
    color: purple;
}

.orange {
    color: orange;
}